*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, p, img, a{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 955px;
    margin: 0 auto;
}

body{
    font-family: 'Khula', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    background-color: #fff;
}

.text-p{
    color: #000;
    padding-top: 55px;
    padding-bottom: 55px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: 600;
}


/*------Header--------*/

.header{
    
}

.header-inner{
    border-bottom: 1px solid #828282;
    padding-top: 35px;
    padding-bottom: 40px;
}

/*------Nav--------*/

.nav{
    display: flex;
    justify-content: space-between;
    
}

.nav-link{
    padding: 0 10px;
    text-decoration: none;
    font-weight: 700;
    color: #828282;
    transition: color .4s linear;
}

.nav-link:hover{
    color: #000;
}

.intro{
    padding-top: 45px;
}

/*------Intro--------*/

.intro-titles{
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}

.intro-title{
    color: #070707;
    
    font-size: 47.3392px;
    line-height: 59px;
    font-weight: 700;
}

.intro-subtitle{
    margin-bottom: 10px;
    font-weight: 400;
    padding-left: 307px;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    
}

.intro-img{
    margin-bottom: 110px;
    background: url(../img/photo1.png);
    width: 950px;
    height: 387px;
}

.section-title{
    padding-top: 120px; 
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

/*------About Me--------*/

.aboutme{
    background-color: #F6F6F6;
}

.aboutme-text{
    color: #000;
    padding-top: 35px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: 600;
}

.aboutme-text1{
    color: #000;
    padding-top: 55px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: 600;
}

.aboutme-text2{
    color: #000;
    padding-top: 55px;
    padding-bottom: 100px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: 600;
}

/*------Skills--------*/

.skills{
    background-color: #fff;
}



.skills-programs{
    max-width: 950px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.Program{
    margin: auto;
    display: block;
    align-items: center;
}

.skills-name{
    margin: auto;
    line-height: 17px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #5a5a5a;
    padding-bottom: 50px;
}

.portfolio{
    background-color: #F6F6F6;
    display: block;
}

.portfolio-main{
    padding-top: 65px;
}

.portfolio-subtitle{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #000;
    padding-top: 50px;
    padding-bottom: 70px;
}


.contacs-btn{
    padding: 10px 30px;
    background-color: #000;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    
    color: #fff;
    
}

.contacs-btn-block{
    margin-bottom: 80px;
}

.footer{
    text-align: center;
}

.social-images{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.social-a{
    cursor: pointer;
}

.footer-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-bottom: 90px;

    color: #828282;
}


@media(min-width: 0px) and (max-width: 800px)
{
    body{
        position: absolute;
    }
   
}

@media(min-width: 0px) and (max-width: 400px)
{
    .nav-link{
        font-size: 17px;
    }
    
    .header-inner{
        padding: 15px 5px;
        margin: 0 auto;
        display: block;
        border-bottom-width: 2px;
    }
    .intro-title{
        text-align: center;
        line-height: 80%;
        font-size: 58px;
        padding-top: 5px;
    }
    .intro{
        padding-top: 15px;
    }
    .intro-titles{
        display: block;
        padding: 0;
    }
    .intro-subtitle{
        text-align: center;
        margin-bottom: 10px;
        font-weight: 400;
        padding-left: 0px;
        font-size: 18px;
        line-height: 22px;
    }
    .intro-img{   
        background: url(../img/photo2.png) center top no-repeat;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding-top: 10px;
    }
    
    .section-title{
        padding-top: 40px; 
        font-weight: 700;
        font-size: 34px;
        line-height: 42px;
        text-align: center;
    }
    
    .aboutme{
        padding: 0 14px;
    }
    
    .aboutme-text1{
        padding-bottom: 0px;
        padding-top: 30px;
    }
    
    .aboutme-text2{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    
    .aboutme-text3{
        padding-top: 25px;
    }
    
    .text-p{
        padding: 20px 0;
    }
    
    .skills-programs{
        display: block;
    }
    
    .skills-name{
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 20px;
    }
    
    .prog-img{
        display: block;
        margin: 0 auto;
        width: 30%;
    }
    
    .portfolio-img{
        max-width: 400px;
        width: 100%;
        padding: 0 15px;
    }
    .portfolio-main:first-child{
        padding-top: 30px;
    }
    
    .portfolio-main{
        padding-top: 0px;
    }
    .portfolio-subtitle{
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .social-images{
        padding: 0 30px;

        max-width: 350px;
        padding-bottom: 30px;
    }
    .footer-text{
        font-size: 16px;
        padding-bottom: 40px;
    }
}